body {
  background-color: #0d1117;
  color: white;
  overflow-x: hidden;
}
.readme-container {
  width: 60vw; /* default width */
  margin: 0 auto; /* center it */
}

/* For small screens */
@media screen and (max-width: 767px) {
  .readme-container {
    width: 93vw; /* full width */
    padding: 0 10px; /* optional padding */
  }
}

.profile-container{
  max-width: max-content;
}



@media screen and (max-width: 767px) {
  .projects-container{
    margin: 20px;
    width: auto;
}
}

.projects-container img{
  
      width: 100%;
      height: 100%;
}